.bg-image {
    background: linear-gradient(180deg, #a669e4, #e072e4);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 2rem;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-button {
    background: linear-gradient(90deg, #9911d8, #b266ff);
    border: none;
    color: #fff;
    padding: 10px 10px;
    border-radius: 12px;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    width: 100%;
}

.form-button:hover {
    background: linear-gradient(90deg, #e0559a, #9a55e0);
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-control:focus {
    border-color: #9911d8;
    box-shadow: 0px 0px 10px rgba(40, 167, 69, 0.2);
}

#loginForm {
    display: none;
}

#forgotPasswordForm {
    display: none;
}

#form-title {
    font-weight: bold;
}